:root {
    --primary-color: rgb(230, 179, 76);
    --secondary-color: rgb(210, 120, 60);
    --accent-color: rgb(70, 170, 160);

    --primary-gradient: linear-gradient(135deg, hsl(45 98% 51%), hsl(350 75% 50%));
    
    --background-color: rgb(60, 48, 32);
    --border-color: rgba(80, 66, 48, 0.7);

    --text-color: rgb(240, 230, 210);
}

p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: scroll;
}

body {
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Andale Mono', "Courier", "Courier New", sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100vw;
    height: auto;
    padding: 10px;
    background-color: var(--primary-color);
    outline: 2px solid var(--border-color);
    color: var(--text-color);

    display: flex;
    justify-content: left;
    align-items: center;
}

header p, footer p {
    padding-left: 5px;
    text-decoration: underline;
}

main {
    width: 100%;
    flex: 1 0 auto;
    color: var(--text-color);

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

main p {
    font-size: 30px;
}
