:root {
    --primary-color: rgb(230, 179, 76);
    --secondary-color: rgb(210, 120, 60);
    --accent-color: rgb(70, 170, 160);

    --primary-gradient: linear-gradient(135deg, hsl(45 98% 51%), hsl(350 75% 50%));
    
    --background-color: rgb(60, 48, 32);
    --border-color: rgba(80, 66, 48, 0.2);

    --text-color: rgb(240, 230, 210);
}

body {
    font-family: 'Andale Mono', sans-serif;
    margin: 0;
    padding: 0;
}
