/* ---------- color palette ---------- */

:root {
    --primary-color: rgb(207, 152, 42);
    --secondary-color: rgb(210, 120, 60);
    --accent-color: rgb(70, 170, 160);

    --primary-gradient: linear-gradient(135deg, hsl(45 98% 51%), hsl(350 75% 50%));
    --title-gradient: linear-gradient(0deg, rgba(0,0,0,0), rgba(234, 208, 174, 0.2), rgba(0,0,0,0));;

    --background-color: rgb(60, 48,  32);
    --background-gradient: linear-gradient(45deg, rgb(60, 48, 32), rgb(118, 92, 58));
    --secondary-background-color: rgb(93, 75, 49);
    --border-color: rgba(208, 175, 131, 0.7);

    --text-color: rgb(240, 230, 210);

    /* animation vars */

    --main-scale: 0.9;
    --offsets: 50px;
}

:root[data-theme="light"] {
    --primary-color: rgb(243, 218, 171);
    --secondary-color: rgb(113, 103, 96);
    --accent-color: rgb(88, 219, 127);

    --primary-gradient: linear-gradient(135deg, hsl(45 90% 55%), hsl(20 80% 60%));
    --title-gradient: linear-gradient(0deg, rgba(0,0,0,0), rgba(0, 0, 0, 0.15), rgba(0,0,0,0));;

    --background-color: rgb(250, 246, 240);
    --background-gradient: linear-gradient(45deg, rgb(250, 246, 240), rgb(244, 223, 196));
    --secondary-background-color: rgb(255, 250, 240);
    --border-color: rgba(120, 90, 60, 0.2);

    --text-color: rgb(40, 35, 30);
}

:root[data-theme="dark"] {
    --primary-color: rgb(31, 30, 44);
    --secondary-color: rgb(35, 104, 82);
    --accent-color: rgb(70, 147, 218);

    --primary-gradient: linear-gradient(135deg, hsl(45 90% 55%), hsl(10 85% 60%));
    --title-gradient: linear-gradient(0deg, rgba(0,0,0,0), rgba(234, 208, 174, 0.2), rgba(0,0,0,0));;

    --background-color: rgb(18, 18, 20);
    --background-gradient: linear-gradient(45deg, rgb(18, 18, 20), rgb(40, 32, 24));
    --secondary-background-color: rgb(28, 28, 32);
    --border-color: rgba(255, 200, 140, 0.2);

    --text-color: rgb(235, 235, 235);
}

/* ---------- keyframes ---------- */

@keyframes headerIn {
    from {
        transform: translateY(calc(-1*var(--offsets)));
      }
    
      to {
        transform: translateY(0);
      }
}

@keyframes footerIn {
    from {
        transform: translateY(var(--offsets));
      }
    
      to {
        transform: translateY(0);
      }
}

@keyframes mainIn {
    from {
        opacity: 0;
        transform: scale(var(--main-scale));
      }
    
      to {
        opacity: 1;
        transform: scale(1);
      }
}

/* ---------- element styling ---------- */

p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: transform 0.2s ease;
}

a {
    color: inherit;
}

img {
    border-radius: 3px;
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

p:has(a:hover) {
    transform: scale(1.08);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: scroll;
}

body {
    padding: 0;
    background-image: var(--background-gradient);
    font-family: 'Andale Mono', "Courier", "Courier New", sans-serif;

    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    width: 100vw;
    height: auto;
    padding: 10px;
    background-color: var(--primary-color);
    outline: 2px solid var(--border-color);
    color: var(--text-color);
    
    

    display: flex;
    justify-content: left;
    align-items: center;
    
    transition: transform 0.2s ease;
    will-change: transform;
}

header {
    animation: headerIn 0.4s ease;
}

footer {
    animation: footerIn 0.4s ease;
}

footer section {
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

header p, footer p {
    padding-left: 5px;
}

header nav {
    position: relative;
    width: 40%;
    margin-left: auto;
    margin-right: 20px;

    display: flex;
    justify-content: right;
}

header nav p {
    padding-left: 10px;
    text-decoration: underline;
    word-break:unset;
}

main {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    color: var(--text-color);
    height: 5vh;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: opacity 0.4s ease, transform 0.4s ease;
    animation: mainIn 0.4s ease;
}

main p {
    font-size: 30px;
}

/* ---------- classes ---------- */

/* text classes */

.title { 
    position: absolute;
    top: 4%;
}

/* div classes */

.div-background {
    width: auto;
    height: auto;

    border-radius: 3px;
    border: 2px solid var(--border-color);
    padding: 5px;

    background-color: var(--secondary-background-color);
}

.div-main-container {
    width: 80%;
    max-width: 500px;
    height: 70%;
    max-height: 800px;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    border-radius: 3px;
    border: 2px solid var(--border-color);
    padding: 5px;
    margin: 5px;

    background-color: var(--secondary-background-color);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.div-main-info-container {
    width: 95%;
    height: auto;
    margin-top: 15px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flexbox-Column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexbox-Row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* animating */

.headerExit {
    transform: translateY(calc(-1*var(--offsets)));
}

.footerExit {
    transform: translateY(var(--offsets));
}

.mainExit {
    opacity: 0;
    transform: scale(var(--main-scale));
}

/* extra classes */

.border1 {
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.radial {
    background: var(--title-gradient)
}

.button-theme {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 12px;

    transition: transform 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-theme img {
    border-radius: 0px;
    border: none;
    box-shadow: none;

    width: 20px;
    height: 20px;
}

img.theme-icon {
    transition: filter 0.3s ease;
    filter: brightness(0);
}
  
[data-theme="dark"] .button-theme img,
[data-theme="autumn"] .button-theme img {
    filter: brightness(0) invert(1);
}

.button-theme:hover {
    transform: scale(1.1);
}

/* id */

#text-styling-demo p {
    font-size: 20px;
}